{% load static %}

<div class="sidebar active">
    <div class="menu-btn">
        <i class="ph-bold ph-caret-left"></i>
    </div>
    <div class="head">
        <div class="user-img">
            <div class="img">
                <a href="/"><img src="/static/img/logo.png" alt="" /></a>
            </div>
        </div>
        <div class="user-details">
            <p class="title_sidebar">
                <b>Supervisão</b>
            </p>
            <p class="name_sidebar">
                {% if user.first_name %}
                    {{ user.get_full_name|slice:":20" }}
                {% else %}
                    {{user.username}}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="nav">
        <div class="menu">
            <p class="title_sidebar">Soluções</p>
            <ul style="padding-left: 0rem;">
                <li>
                    <a href="/">
                        <i class="ph-bold ph-list-checks"></i>
                        <span class="text">Lista</span>
                    </a>
                </li>

                {% comment %} <li>
                    <a href="">
                        <i class="ph-light ph-calendar"></i>
                        <span class="text">Agenda</span>
                    </a>
                </li> {% endcomment %}

                <li>
                    <a href="{% url "app:dashboard" %}">
                        <i class="ph-duotone ph-chart-pie-slice"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="menu">
        <ul style="padding-left: 0rem;">
            <li>
                <a href="/logout/">
                    <i class="ph-fill ph-sign-out"></i>
                    <span class="text">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</div>
